PORT=3000
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000/api
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=true
DB_LOGGING=false
DB_SYNC_ALTER=false
DB_SYNC_FORCE=false
